.p-inputtext:enabled:focus, .p-button.p-button-info:enabled:focus, .p-link:focus, .p-listbox-item:focus, .p-listbox, .p-highlight:focus {
	box-shadow: none;
}

.p-inputnumber-input {
	width: 5rem;
	height: 2.8rem; 
}

.p-inputnumber-button {
	height: 1.25rem; 
	color: rgb(0, 123, 255);
}
