.product-dektop {
  display: grid;

  .product-main-container {
    padding-left: var(--standard-padding);
  }

  .product-container {
    display: grid;
    grid-template-columns: 20rem 1fr;
    grid-gap: 1rem;
  }
}
