@import '../../../../../../styles/animations/fade-in.scss';

.image {
  height: 25rem;
  max-height: 25rem;
  max-width: 20rem;
  width: 20rem;
  border: 1px solid black;
  margin: auto;
  object-fit: contain;
  animation: fadeIn 0.55s;
}
