.list {
  display: grid;
  grid-template-columns: 2rem 1fr;
  border: 1px solid var(--standard-border-color);
  margin: 0.3rem 0;
  border-radius: 0.2rem;
  padding: 0.2rem;
  font-size: 0.8rem;
  cursor: pointer;

}

.list:hover {
  background-color: var(--hover-background-list);
}

.selected {
  background-color: var(--active-background-list);
}
