<div>
  <div class="title">GILLETTE 2 Бритви одноразові 8+2шт</div>
  <div>
    <nz-tag>
      <span class="tag">Код товару: 7702018874293</span>
    </nz-tag>
  </div>
  <div class="price">111,50 грн.</div>
  <div class="available">Доступно товарів: 2163</div>
  <div class="order">
    <div>
      <nz-input-number [nzInputMode]="'numeric'" [nzMin]="0" [nzMax]="10" [nzStep]="1"></nz-input-number>
    </div>
    <div>
      <button nz-button nzType="primary">Замовити</button>
    </div>
  </div>
</div>
