.emblem {
	background-color: rgba(229, 229, 229, 0.285);
	width: 200px;
	height: 100px;
	border: 1px solid gray;
	cursor: pointer;
	border-radius: 3px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  padding: 0.1rem 1rem;
}
