.header {
	background-color: var(--main-bg-color);

	.header-content {
		.logo-icon {
			height: 1.3rem;
		}

    display: grid;
    grid-template-columns: 15rem 1fr;
		padding: 10px var(--standard-padding);

    .header-data-panel {
      display: grid;
      grid-template-columns: auto 1fr auto auto auto;
      grid-gap: 1.5rem;
    }
	}
}
