<div nz-dropdown [nzDropdownMenu]="menu">header-user-delivery-point works!</div>

<nz-dropdown-menu #menu="nzDropdownMenu" >
  <div class="dropdown-menu">
    <div class="title">Інформація по замовленню</div>
    <div class="change-supplier">Змінити</div>
    <div class="row">
      <div class="row-title">Юридична особа</div>
      <div>Новий для КПК</div>
    </div>
    <div class="row">
      <div class="row-title">Адреса доставки</div>
      <div>Миколаївська обл., Баштанський р-н, м.Баштанка, вул. Яновського 28
      </div>
    </div>
  </div>
</nz-dropdown-menu>
