@import '../../../../../../../../../../styles/animations/fade-in.scss';

.product-block, .additional-block {
  display: grid;
  border: 1px solid var(--standard-border-color);
  cursor: pointer;
}

.product-block {
  position: relative;
  padding: 0.3rem;

  .image-container {
    height: 210px;
    width: 100%;
    max-height: 210px;
    max-width: 100%;
    border-bottom: 1px solid var(--standard-border-color);

    .image {
      height: auto;
      width: auto;
      max-height: 200px;
      max-width: 100%;
      margin: auto;
      object-fit: contain;
      animation: fadeIn 0.55s;
    }
  }

  .price-container {
    font-weight: bold;
  }
}

.product-block:hover {
  .additional-block {
    display: block;
  }
}

.additional-block {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.table-2-col {
  display: grid;
  grid-template-columns: 1fr auto;
}
