.under-header-content {
  padding: 2px var(--standard-padding);
  border-bottom: 1px solid var(--standard-border-color);
  display: grid;
  grid-template-columns: auto 1fr auto auto auto;
  grid-gap: 1.5rem;
}

.banner-content {
  padding: 2px var(--standard-padding);
}
