<app-banner></app-banner>
<div class="header">
	<div class="header-content width-container">
		<div >
			<img src="assets/images/iorder/iorder-white.png" class="logo-icon" />
		</div>
    <div class="header-data-panel">
      <div><app-header-search *ngIf="true"></app-header-search></div>
      <div></div>
      <app-header-user-delivery-point></app-header-user-delivery-point>
      <app-header-user-basket></app-header-user-basket>
      <app-header-user-panel></app-header-user-panel>
    </div>
	</div>
</div>
<app-under-header></app-under-header>

