<div>
	<div>
		<div>Номер телефону або логін</div>
		<input class="w-full py-3 px-4 text-coolGray-500 leading-tight placeholder-coolGray-500 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50 border border-coolGray-200 rounded-lg shadow-xs" type="text" />
	</div>
	<div>
		<div>Пароль</div>
		<input class="w-full py-3 px-4 text-coolGray-500 leading-tight placeholder-coolGray-500 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50 border border-coolGray-200 rounded-lg shadow-xs" type="text" />
	</div>

	<button>Увійти</button>

</div>
