<div class="product-block">
  <div class="image-container">
    <img src="https://prodasnovastacc.blob.core.windows.net/product-small-images/3/7702018874293.jpg">
  </div>
  <div class="price-container">{{product.price}} грн.</div>
  <div class="title-container">{{product.name}}</div>
  <div class="additional-container table-2-col">
    <div>Доступно: {{product.available}}</div>
    <div>8+2шт</div>
  </div>
  <div class="order-container table-2-col">
    <div>input</div>
    <div>button</div>
  </div>

  <div class="additional-block">
    <div class="table-2-col">
      <div>Штрих-код</div>
      <div>7702018874293</div>
    </div>
    <div class="table-2-col">
      <div>Штук у коробці</div>
      <div>24</div>
    </div>
  </div>
</div>
