.product-block, .additional-block {
  display: grid;
  border: 1px solid var(--standard-border-color);
  cursor: pointer;
}

.product-block {
  position: relative;
  .image-container {
    img {
      max-height: 210px;
      max-width: 100%;

      display: block;
      margin: auto;
    }
  }
}

.product-block:hover {
  .additional-block {
    display: block;
  }
}

.additional-block {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.table-2-col {
  display: grid;
  grid-template-columns: 1fr auto;
}
